@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/SegoeUI.ttf") format("ttf");
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/SegoeUI-Bold.ttf") format("ttf");
}

